<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQnuGIyNIYrpbGTaZPL2aONpOkinGgmP4</string>
	<key>GCM_SENDER_ID</key>
	<string>81844163034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telephonApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>telephonyapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>telephonyapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81844163034:ios:cafcc884f4796296c4b0e3</string>
</dict>
</plist>